{% extends "./base.html" %}
{% load static %}
{% block title %}Home Help{% endblock %}
{% block content %}


<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="h1 fw-bold">O que você quer construir?</h1>
        <p class="lead text-muted">Com uma simples busca, encontre os melhores materiais nas melhores lojas pertinho de você.</p>
        <p>
          <a href="#" class="btn btn-primary my-2">Crie uma conta</a>
        </p>
      </div>
    </div>
    <div class="col-lg-6 col-md-8 mx-auto">
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Procure por lojas, produtos ou o que deseja construir..." aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Procurar</button>
      </form>
    </div>
  </section>
  

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="pb-3 h5">Categorias</div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">

        {% for category in categories %}

        <div class="col">
          <div class="card shadow-sm">
            <img class="img-fluid" alt="Responsive image" src="{{ category.image.url }}">
            <div class="card-body">
              <p class="card-text">
                <a class="text-dark text-decoration-none" href="{{ category.get_absolute_url }}">{{ category.name }}</a>
              </p>
              <!--<div class="d-flex justify-content-between align-items-center">
                <small class="text-muted"></small>
              </div> -->
            </div>
          </div>
        </div>

        {% endfor %}

      </div>
    </div>
  </div>


</main>

{% endblock %}