
{% extends "store/base.html" %}
{% load static %}
{% block title %}
{{ product.name }}
{% endblock %}
{% block content %}
<div class="container">
    <main class="pt-5">
        <div class="row g-3">
            <div class="col-md-5 col-lg-5 order-md-first">
                <img class="img-fluid mx-auto d-block" width="100%" alt="Responsive image" src="{{ product.image.url }}">
            </div>
            <div class="col-md-7 col-lg-7 ps-md-3 ps-lg-5">
                <h1 class="mb-0 h3">{{ product.name }}</h1>
                <p><span class="lead">{{ product.store }}</span></p>
                <p>{{ product.description|slice:":355" }}...</p>
                <div class="border">
                    <div class="col border-bottom">
                        <div class="row p-3">
                            <div class="col-6">Und.: {{ product.unity }}</div>
                            <div class="col-6 text-end"><span class="h4 fw-bold">R${{ product.price }}</span></div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row p-3">
                            <div class="col-6">
                                <label for="select">Quantidade: </label>
                                <input style="width: 100px;" id="qty">
                                    
                                </select>

                            </div>
                            <div class="col-6 text-end"><a href="#" class="btn btn-primary my-2">Adicionar ao carrinho</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

</div>
{% endblock %}